* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}

:root {
  --yellow: #e59500;
  --white: #fff;
  --black: #000;
  --grey: #242d29;
  --boxShadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  --btnShadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

button {
  border-radius: 20px !important;
  border: none !important;
  background-color: var(--yellow) !important;
  font-size: 16px ;
  padding: 7px 32px !important;
}

/* ===========================  navbar  =============================  */
.nav-bg {
  background-color: var(--white);
  box-shadow: var(--boxShadow);
}

.logo-name {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 25px ;
}

.nav-logo {
  color: var(--yellow);
  font-weight: 600;
  font-size: 25px;
}
button .btn-text{
  color: var(--yellow) !important;
  text-decoration: none;
}
button .btn-text:hover {
  color: var(--white) !important;
  background-color: var(--yellow) !important;
  transform: translateY(-3px);
}
.contact-btn {
  margin-left: 2rem;
  border: 2px solid var(--yellow) !important;
  color: var(--yellow) !important;
  background-color: white !important;
  transition: transform 0.9s ease;
}

.contact-btn:hover {
  color: var(--white) !important;
  background-color: var(--yellow) !important;
  transform: translateY(-3px);
}
/* ===========================  end navbar  =============================  */


/* ===========================  home  =============================  */
.main {
  box-shadow: var(--boxShadow);
  height: 27rem;
}
.paw1 {
  position: absolute;
  top: -28rem;
  right: -22rem;
  transform: scale(0.14);
  opacity: 0.18;
  z-index: 1;
}
.overlay-text > * {
  margin-top: 1rem;
}
.overlay-text span:nth-of-type(1) {
  font-size: 2.5rem;
  font-weight: 500;
}
.overlay-text span:nth-of-type(2) {
  font-size: 16px;
  color: var(--grey);
  font-weight: 500;
}
.h-btn1 {
  color: white;
  transition: transform 0.9s ease;
}
.h-btn2 {
  margin-left: 2rem;
  border: 2px solid var(--yellow) !important;
  color: var(--yellow) !important;
  background-color: white !important;
  transition: transform 0.9s ease;
}

.h-btn2:hover {
  color: var(--white) !important;
  background-color: var(--yellow) !important;
  transform: translateY(-3px);
}

.h-btn1:hover {
  border: 2px solid var(--yellow) !important;
  color: var(--yellow) !important;
  background-color: var(--white) !important;
  transform: translateY(-3px);
}

.h-banner img {
  width: 100%;
  margin-top: -10rem;
}
/* ===========================  end home  =============================  */


/* ===========================  animals  =============================  */
.a-banner img {
  width: 100%;
}

.pet-text span:nth-of-type(1) {
  font-size: 2.5rem;
  font-weight: 500;
}

.pet-text span:nth-of-type(2) {
    font-size: 16px;
    color: var(--grey);
    font-weight: 500;
  }

  .a-paw1 {
    position: absolute;
    top: 30rem;
    right: -18rem;
    transform: scale(0.35);
    opacity: 0.18;
    z-index: 1;
  }

 .custom-card {
    border-radius: 30px !important;
 }

 .custom-card2 {
    border-radius: 30px !important;
 }

 .animals-btn{
    padding: 12px 5rem ;
    transition: transform 0.9s ease;
    color: white;
 }


 .animals-btn:hover {
    border: 2px solid var(--yellow) !important;
    color: var(--yellow) !important;
    background-color: var(--white) !important;
    transform: translateY(-3px);
 }

 .animals-text span:nth-of-type(1){
    font-size: 2.5rem;
    font-weight: 500;
 }

 .animals-text span:nth-of-type(2){
    font-size: 16px;
    color: var(--grey);
    font-weight: 500;
 }

 .overlay{
  margin-top: -6rem;
  margin-left: 1rem;
 }
/* ===========================  end animals  =============================  */


/* ===========================  blog  =============================  */
.blog-custom-card{
  border-radius: 30px !important;
  box-shadow: var(--boxShadow);
}
.blog-custom-card2{
  border-radius: 30px 30px 0px 0px !important;
}

.b-read{
  color: var(--yellow);
}

.blog-btn{
  padding: 10px 5rem !important;
  transition: transform 0.9s ease;
}

.blog-btn:hover{
  border: 2px solid var(--yellow) !important;
  color: var(--yellow) !important;
  background-color: var(--white) !important;
  transform: translateY(-3px);
}
/* ===========================  end blog  =============================  */


/* ===========================  contact  =============================  */
.contact-text span:nth-of-type(1){
  font-size: 2.5rem;
  font-weight: 500;
}

.contact-text span:nth-of-type(2){
  font-size: 16px;
  color: var(--grey);
  font-weight: 500;
}

.label-title{
  font-size: 2.5rem;
  font-weight: 500;
}

.form-group input{
  border: 2px solid var(--yellow);
}
.form-group textarea{
  border: 2px solid var(--yellow);
}
/* ===========================  end contact  =============================  */


/* ===========================  footer  =============================  */
.footer1{
  margin-top: 20rem;
}

.main-footer{
  background-color: #e59500;
  position: relative;
}

.footer-paw1 {
  position: absolute;
  top: -10rem;
  right: 42rem;
  transform: scale(0.8);
  z-index: -1;
}

.sub-btn {
  margin-left: 2rem;
  color: var(--yellow) ;
  background-color: white !important;
  transition: transform 0.9s ease;
}
/* ===========================  end footer  =============================  */









/* ===========================   Mobile screens  =============================  */

@media screen and (max-width: 480px){
  body{
    overflow-x: hidden;
  }
}
/* Mobile screens for navbar */
@media screen and (max-width: 480px) {
  /* .nav{
    display: none;
  }
  .logo-font{
    margin-right: 200rem !important;
  } */
  .navbar{
    /* position: fixed;
    width: 100%;
  } */
  .contact-btn {
    margin-left: 0rem;
  }
}


/* Mobile screens for home*/
@media screen and (max-width: 480px) {
  .main{
    height: 35rem;
  }
  .overlay-text span:nth-of-type(1) {
    margin-top: -1rem;
    font-size: 30px;
    font-weight: 500;
    display: flex;
    justify-content: center;
  }
  .overlay-text span:nth-of-type(2) {
    margin-top: -1rem;
    display: flex;
    justify-content: center;
  }
  .h-banner{
    margin-top: -15rem;
  }
  .animals-btns{
    margin-top: 12rem;
    display: flex;
    justify-content: center;
  }
  .h-btn1 {
    padding: 5px 20px !important;
  }
  .h-btn2 {
    padding: 5px 20px !important;
  }
  .paw1 {
    position: absolute;
    top: -27rem;
    right: -20rem;
    transform: scale(0.18);
    opacity: 0.18;
    z-index: 1;
  }
}



 /* Mobile screens for animals*/
 @media screen and (max-width: 480px){
  .pet-text span:nth-of-type(1) {
     font-size: 30px;
     font-weight: 500;
     display: flex;
     justify-content: center;
   }
   .pet-text br{
     display: none;
   }
   .pet-text span:nth-of-type(2)::after {
     content: "\A\A";
     white-space: pre;
   }
   .animals-text span:nth-of-type(1){
     font-size: 30px;
     font-weight: 500;
  }
  .a-paw1 {
     display: none;
   }
}


 /* Mobile screens for blog*/
 @media screen and (max-width: 480px){
  .blog-custom-card{
    width: 20rem !important;
  }
}

 /* Mobile screens for contact*/
 @media screen and (max-width: 480px){
  .contact-text span:nth-of-type(1){
      font-size: 30px;
      font-weight: 500;
  }
  .contact-font{
      margin-left: -35px !important;
  }
  .contact-faw{
    margin-left: -37px !important;
  }

  .footer-paw1 {
    position: absolute;
    top: -6rem;
    right: -9rem;
    transform: scale(0.6);
    z-index: -1;
  }
  .main-footer {
    margin-top: 14rem;
  }
}

 /* Mobile screens for footer*/
@media screen and (max-width: 480px){
  footer .footer-row{
  display: flex;
  flex-direction: column;
  }
  .main-logo-div .logo-name{
    display: flex;
    flex-direction: row;
    font-size: 24.7px;
  }

  .sub-btn {
    margin-left: 0rem;
    color: var(--yellow) ;
    background-color: white !important;
    transition: transform 0.9s ease;
  }
}